<script src="jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8">
	
	function clear() {
 	   $("#zone").empty();
  	}

	function gameRequest() {
		clear();
		$("#zone").append('<%= form_tag("/game/send_request", method: "get") do %>' +
  		'<%= label_tag(:q, "Enter Word:") %>' +
  		'<%= text_field_tag(:q) %><br>' +
  		'<%= label_tag(:h, "Enter hint:") %>' +
  		'<%= text_field_tag(:h) %><br>' +
  		'<%= submit_tag("Send Request") %>' +
		'<% end %>');
	}

</script>

<body>
	<div class="zone" id="zone">
	<h1>Hello, <%= @current_user.name %></h1>
	<img src="<%= session[:img] %>">
	<h2>Score: <%= @current_user.score %></h2>
	<div class="nav-bar">
		<ul>
  			<li><a href="/welcome/home">Home</a></li>
  			<li><a>Play!</a></li>
  			<li><a href="">Challenge</a></li>
  			<li><a href="">Rank</a></li>
  			<li><a href="/game/requests">Requests</a></li>
  			<li><a href="">Leave 3arosty</a></li>
		</ul>
	</div>

		<h4>Choose a friend to play with:</h4>
		<% if !@friends.blank? %>
		  <% if !@online.blank? %>
		  	<% for f in @online %>
		  		<ul>
		  			<li id="friend"><a onclick="gameRequest()"><%= f["name"] %><% session[:rid] = f["id"] %></a></li>
		  		</ul>
		  	<% end %>
		  <% else %>
		  	<p>No online friends</p>
		  <% end %>
		<% else %>
		  <p>None of your friends play this game, invite them to play?</p>
		<% end %>
	</div>
</body>