<div class="panel panel-default" id= "online-friends">
  <div class="panel-body">
    <%= link_to("Leave Game", {controller: "games", action: "leave_game", gid: @game.id}, :class=>'btn btn-danger', :id=>'leave_game_btn') %>
    <br>
    <br>
    <div class="row" id= "game-hints">
      <% if @game.player1_id == current_user.id %>
        <h2 id="online" class="score">Score: <%= @game.p1score %></h2>
        <h2 id="online">Your word is: <%= @word.word %></h2>
        <div class="col-xs-12 col-sm-6 col-md-7" id= "game-body">
          <% if @game.guess_no == 0 %>
            <p>Your opponent hasn't guessed yet</p>
          <% else %>
            <% if @game.guess_no == 1 %>
              <p>Your opponent has guessed <span id="red-text"> Once </span></p>
            <% else %>
              <p>Your opponent has guessed <span id="red-text"> <%= @game.guess_no %> </span> times</p>
            <% end %>
            <p>His last guess was <span id="red-text"><%= @game.guess %> </span> </p>
          <% end %>
          <% if @game.turn == 1 %>
            <% if !@game.hints_finished? %>
              <div class="col-xs-9 col-sm-10 col-md-offset-1 well">
                <%= render "hint_form" %>
              </div>
              <%= link_to("No more hints!", {controller: "games", action: "no_more_hints", gid: @game.id}, :class=>'btn btn-warning') %>
            <% end %>
          <% else %>
            <p>Waiting for your opponent's next guess...</p>
          <% end %>
        </div>
      <% elsif @game.player2_id == current_user.id %>
        <h2 id="online" class="score">Score: <%= @game.p2score %></h2>
        <div class="col-xs-12 col-sm-6 col-md-7" id= "game-body">
          <% if @game.guess_no == 0 %>
            <p>You haven't guessed yet</p>
          <% else %>
            <% if @game.guess_no == 2 %>
              <p>You only have <span id="red-text"> ONE </span> more chance. <span id="red-text"> MAKE IT COUNT </span></p>
            <% else %>
              <p>You have <span id="red-text"> <%= 3 - @game.guess_no %> guesses left </span></p>
            <% end %>
            <p>Your last guess was <span id="red-text"><%= @game.guess %></span></p>
          <% end %>
          <% if @game.turn == 2 %>
            <% if !@game.hints_finished? %>
              <div class="col-xs-9 col-sm-10 col-md-offset-1 well">
                <%= render "guess_form" %>
              </div>
              <%= link_to("3arosty", {controller: "games", action: "get_hint", gid: @game.id}, :class=>'btn btn-warning') %>
            <% else %>
              <p id="blue-text">Your opponent has no more hints to give</p>
              <div class="col-xs-9 col-sm-10 col-md-offset-1 well">
                <%= render "guess_form" %>
              </div>
            <% end %>
          <% else %>
            <p>Waiting for your opponent's next hint...</p>
          <% end %>
        </div>
      <%end%>
      <div class="col-xs-6 col-md-4 well" id="hint-body">
        <% if @hints == nil %>
          <h2 id="online">The other player gas given no hints.</h2>
        <% else %>
          <h2 id="online">Hints:</h2>
          <% for hint in @hints %>
            <h3><%= hint.hint %></h3>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>