<script src="jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8">
  
  function clear() {
     $("#zone").empty();
  }

  function sendHint() {
    clear();
    $("#zone").append('<%= escape_javascript(render "hint_form") %>');
  }

  function guessWord() {
    clear();
    $("#zone").append('<%= escape_javascript(render "guess_form") %>');
  }

</script>

<body>
  <div class="zone polling" id="zone" >

    <div class="nav-bar">
      <ul>
        <li><%= link_to("Back to home page", "/games/home") %></li>
        <li><%= link_to("Leave Game", {controller: "games", action: "leave_game", gid: params[:gid]}) %></li>
      </ul>
    </div>

    <div id="game-body" data-game="<%= @game.id%>">
      <%= render "game_update" %>
    </div>

  </div>
</body>